$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "bootstrap/variables.scss";

@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

#wrapper {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

#maincontainer {
  position:absolute;
  top:$navbar-height;
  bottom:0;
  overflow:hidden;
  left:0;
  right:0;
}
$chat-width: 400px;

.fullsize {
  position:absolute;
  height:100%;
  min-height:100%;
  width:100%;
}
.playback {
  margin: 15px auto;
  width:650px;
}
div.usercount {
  text-align: center;
}
div.queue{
  margin-top: 5px;
}
div.queueList{
  margin-top: 15px;
  max-height: 200px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
ul.queueList {
  margin: 0 0 0 0px;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
  text-align: center;
}
span.error {
  font-size: 18px;
  margin: 10px 0 0 0;
}
input.queueInput {
  background-color: #1E262D;
  height: 40px;
  width: 495px;
  padding: 5px;
  font-size: 20px;
  color: #cccccc;
}
button.submit {
  color:#cccccc;
  margin: 0px 5px 1px 5px;
  vertical-align: middle;
}
.room-chat {
  position:absolute;
  top:0;
  right:0;
  width:$chat-width;
  height:100%;
  background:fade-out(black,0.5);
}
.chat-messages{
  position:absolute;
  margin:15px;
  overflow:scroll;
  bottom:$navbar-height*2;
  height:100%;
}
.chat-message{
  width:100%;
  height:auto;
  border-top:solid 1pt $kuler-first;
  padding:5px;
}
.chat-form{
  position:absolute;
  bottom:$navbar-height;
  width:100%;
}
.room-content{
  position:relative;
  margin-right:$chat-width;
  height:100%;
  overflow-y:auto;
  background-image: url('../images/CinemaBackground.jpg');
  background-size: 1010px;
  background-repeat:no-repeat;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html{
  height:100%;
  width:100%;
  @media (max-width:1100px){
    width:1100px;
  }
}
body {
  min-height:100%;
  position:relative;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
  overflow: auto;
  height:200px;
  clear: both;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
