<div ng-controller="chatController">
  <div class="jumbotron">
    <ul style="list-style: none;">
      <li ng-model="messages" ng-repeat="message in messages">
        {{message.user}}: {{message.text}}
      </li>
    </ul>
  </div>
  <form ng-if="user" novalidate name="submitForm" ng-submit="addMessage(newUser, newMessageText)">
    <input ng-model="newUser" placeholder="name" required></input>
    <input name="text" ng-model="newMessageText" placeholder="message" required></input>
    <button type="submit" ng-disabled="submitForm.$invalid">add message</button>
  </form>
  <p ng-if="!user">
    You must log in to chat
  </p>
</div>
