<div class="row">
  <div class="playback" ng-controller="PlayerController">
    <youtube width="{{yt.width}}" height="{{yt.height}}" videoid="{{yt.videoid}}"></youtube>
    <br>
    <input type="text" ng-model="yt.videoid">Input video id here</input>
  </div>
</div>
<div class="row">
  <div class="input">
    <input type="text" ng-model="item">
    <button class="submit" ng-click="addToQueue(item)">Add</button>
    <button class="submit" ng-click="removeFirst()">Remove</button>
    <div class="userQueue">
      <h4>There are currently: {{ totalUsers }} users here.</h4>
      <ol>
        <li ng-repeat="item in queue">{{ item.$value }}</li>
      </ol>
    </div>
  </div>
</div>
