<div class="row-fluid">
  <div class="playback" ng-controller="PlayerController">
    <div class="usercount">
      <h4>Current Audience: {{ totalUsers }} Active Users</h4>
    </div>
    <youtube width="{{yt.width}}" height="{{yt.height}}" videoid="{{yt.videoid}}"></youtube>
  
    <div class="queue">
      <form name="queueForm">
        <input type="text" ng-model="item" ng-minlength="6" ng-pattern="/^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/" class="queueInput" name="vidInput" placeholder="Enter a Youtube URL Here">
        <button class="submit btn btn-default" ng-click="addToQueue(item)">Add</button>
        <button class="submit btn btn-default" ng-click="removeFirst()">Remove</button>
        <span class="error" ng-show="queueForm.vidInput.$error.minlength">This field is required</span>
        <span class="error" ng-show="queueForm.vidInput.$error.pattern">URL Must be from Youtube</span>
      </form>

      <div class="queueList">
        <ul class="queueList">
          <li ng-repeat="item in queue">{{ $index + 1 }}. {{ item.$value }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
  