<div class="jumbotron">
  <h1>jetgrizzly</h1>
  <p class="lead">
    How long can you stay at the top?
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
<div class="row">
  <div ng-controller="PlayerController">
    <youtube width="{{yt.width}}" height="{{yt.height}}" videoid="{{yt.videoid}}"></youtube>
    <br/>
    Videoid:<input type="text" ng-model="yt.videoid"></input>
  </div>
</div>
<div class="row">
  <div class="input">
    <input type="text" ng-model="item">
    <button class="submit" ng-click="addToQueue(item)">Add</button>
    <div class="userQueue">
      {{ userQueue }}
      {{ totalViewers }}
    </div>
  </div>
</div>